body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
  background-image: linear-gradient(to top, #9aa5e2 0%, #7493fa 100%);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px 30px;
  min-width: 500px;
  width: 100%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
}

input[type="text"] {
  width: calc(100% - 90px);
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

button {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #000;
}

button:active {
  transform: scale(0.98);
}

.add-btn {
  background: #34c759;
  color: #fff;
}

.add-btn:hover {
  background: #28a745;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
}

li {
  background: rgba(255, 255, 255, 0.15);
  color: #020a00;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

li span {
  font-size: 1rem;
  word-wrap: break-word;
}

li span.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

li button {
  margin-left: 5px;
}

.complete-btn {
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  color: #000;


}

.complete-btn:hover {
  background: green;
  color: #fff;
}

.delete-btn {
  background: #f82528;
  color: #fff;
}

.delete-btn:hover {
  background: #d60b1c;
}
